$font-family: "Raleway", sans-serif;
$second-family: "Roboto", sans-serif;
$third-family: "Poppins", sans-serif;

$bp-mobile: 375px;
$bp-mobile-l: 425px;
$bp-tablet: 768px;
$bp-laptop-sm: 1024px;
$bp-desktop: 1366px;

$gradient-primary: linear-gradient(270deg, #8743ff 0%, #4136f1 100%);
$gradient-primary-text: linear-gradient(270deg, #8743ff 0%, #d8c2ff 100%);
$color-background: #1d2228;
